.wrap {
    display: flex;
    width: 100%;
}

.left {
    width: 19%;
    /* background: darkorange; */
}
.right {
  width: 81%;
  /* background: darkred; */
}

@media (max-width: 992px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .mobileview{
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    display: block;
  }
  }
  