.top-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 20px;
  border-bottom: 0.4px solid rgba(107, 107, 107, 0.8);
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-wrapper input {
  border: none;
  outline: none;
  background: none;
  margin-left: 3px;
}

.other-nav-content {
  display: flex;
}

.other-nav-content img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.topnav-profile h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #f5f5ff;
}

.topnav-profile p {
  font-size: 10px;
  line-height: 16px;
  color: #ff8662;
}

.dropdown__icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: #f5f5ff;
  cursor: pointer;
  margin-top: 10px;
  position: relative;

  .view__dropdown {
    // content: '';
    position: absolute;
    top: 30px;
    right: -10px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 0;
    // height: 0;
    // border-left: 5px solid transparent;
    // border-right: 5px solid transparent;
    // border-top: 5px solid #f5f5ff;
  }
}
