.top-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 20px;
  border-bottom: .5px solid;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-wrapper input {
  border: none;
  outline: none;
  background: none;
  margin-left: 3px;
}

.other-nav-content {
  display: flex;
}

.other-nav-content img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.topnav-profile h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* color: #f5f5ff; */
}

.topnav-profile p {
  font-size: 10px;
  line-height: 16px;
  color: #ff8662;
}
