.cta__delete2 {
  border: 1px solid #ff8662;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 10px;
  height: 40px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #ff8662;

  display: flex;
  align-items: center;

  img {
    width: 17px;
    height: 17px;
    margin-right: 4px;
  }
}
