.dropdown__wrapper {
  color: #f5f5ff;
  background: #191919;
  border-radius: 10px;
  padding: 20px;
  width: 226px;

  ul > a > li {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    gap: 10px;
    color: rgba(244, 244, 244, 0.8);
    margin-bottom: 10px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}
